.add-prodcut {
    width: 80%;
    margin: auto;
  }
  
  .addproduct-itemfield {
    margin-bottom: 20px;
  }
  
  .addproduct-itemfield p {
    margin-bottom: 5px;
  }
  
  .addproduct-price {
    display: flex;
    justify-content: space-between;
  }
  
  .addproduct-price .addproduct-itemfield {
    width: 48%;
  }
  
  .add-product-selector {
    padding: 5px;
    width: 100%;
  }
  
  .btn-grey {
    cursor: pointer;
  }
  
  .thmail-img {
    width: 100px; 
    height: 100px; 
    border-radius: 5px;
    object-fit: cover;
  }
  
  .add-prodcut-btn {
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-prodcut-btn:hover {
    background-color: #0056b3; /
  }
  

@media(max-width:800px){
    .add-prodcut{
        width:auto;
        padding: 30px;
        margin: 20px;
    }

}